@model JoBook.Models.User
@{
    ViewBag.Title = "User";
}
<br />
<div class="container container-fluid">
        <div class="col-sm-10">
            <h1>Username</h1>
        </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Id</strong></span>@JoBook.Services.Storage.Instance.userLogin.IdUser</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Name</strong></span>@JoBook.Services.Storage.Instance.userLogin.Name</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Lastame</strong></span>@JoBook.Services.Storage.Instance.userLogin.Lastname</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Rol</strong></span>@JoBook.Services.Storage.Instance.userLogin.Type</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-pane">
                <h2></h2>
                <ul class="list-group">
                    <li class="list-group-item text-muted">Tasks</li>
                    <li class="list-group-item text-right"><a class="float-left">Create the user model</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />


